<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Redefinição de senha</title>
</head>
<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>
<body>
  <div class='message-content'>
    <p>Olá {{name}}!</p>
    <br />
    <p>Recebemos uma solicitação de redefinição de senha.</p>
    <p>Clique no link abaixo para escolher uma nova senha.</p>
    <br />
    <p>
      <a href='{{link}}'>Resetar minha senha</a>
    </p>
    <br />
  </div>
</body>
</html>
